
@{
    ViewData["Title"] = "Portifolio";
}
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="home_left_img">
                    <img class="" src="~/img/novoJavaIcon.png" >
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>
                        let’s <br>
                        Introduce about <br>
                        my knowledge in programming
                    </h2>
                    <p>
                        The first programming language who i had contact is Python,<br>
                        but the language who i like more is Java<br>
                    </p>
                    <h3>
                        Why i like more java than Python?
                    </h3>
                    <p>
                        Because i think, in Java i can see what happening in the code,<br>
                        like see the variables or the methods<br>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
