
@{
    ViewData["Title"] = "Skills";
}
<section class="about_area section_gap">
    <div class="container">


        <div class="main_title text-center">
            <p>
                The first programming language who i had any experience is Java, Python, Java Script;<br>
                I like to work in team especial with agil.<br>
            </p>
        </div>
        <div>
            <ul style="display:flex; list-style:none; justify-content:center">
                <li><img src="~/img/novojavaIcon.png" /></li>
                <li><img src="~/img/python.png" /></li>
                <li><img src="~/img/jsIcon.png" /></li>
            </ul>
        </div>
    </div>
</section>
