
@{
    ViewData["Title"] = "Sobre";
}

<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="~/img/fotoPessoa.png" alt="">
                </div>
            </div>
                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h2>
                            let’s <br>
                            Introduce about <br>
                            myself
                        </h2>
                        <p>
                            I study in Puc-pr, my course is System and information
                            i like so mutch to programming, and think how can i resolve some problem with progammation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
